{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends 'generic_show_form.html.twig' %}
{% import 'components/form/fields_macros.html.twig' as fields %}

{% block form_fields %}
    <input type="hidden" name="items_id" value="{{ item.fields['items_id'] }}">
    <input type="hidden" name="itemtype" value="{{ item.fields['itemtype'] }}">
    <input type="hidden" name="_create_children" value="1">
    <input type="hidden" name="instantiation_type" value="{{ item.fields['instantiation_type'] }}">

    {% set type_label = call('NetworkPort::displayRecursiveItems', [recursive_items, 'Type', false]) %}
    {% set type_value = call('NetworkPort::displayRecursiveItems', [recursive_items, 'Link', false]) %}
    {{ fields.htmlField('', type_value, type_label) }}

    {{ fields.nullField() }}

    {% if item.isNewID(item.getID()) %}
        {# Custom row combining checkbox and port fields #}
        <div class="form-field row align-items-center col-12 col-sm-6 mb-2">
            {# Left side: checkbox label and input #}
            <div class="col-xxl-5 text-xxl-end">
                <label class="col-form-label">{{ __('Add several ports') }}</label>
            </div>
            {# Right side: checkbox control and port fields #}
            <div class="col-xxl-7 d-flex align-items-center field-container">
                <label class="form-check form-switch mt-2 me-3">
                    <input type="hidden" name="_add_several" value="0" />
                    <input type="checkbox" name="_add_several" value="1" class="form-check-input" id="_add_several">
                </label>
                {# Single port number field (shown when unchecked) #}
                <div class="single-port-field flex-grow-1">
                    <input type="number" name="logical_number" value="{{ item.fields['logical_number'] }}" class="form-control" />
                </div>
                {# Multiple port fields (shown when checked) #}
                <div class="multiple-port-fields d-none flex-grow-1">
                    <div class="d-flex">
                        <input type="number" name="from_logical_number" value="0" class="form-control flex-grow-1" />
                        <span class="mx-1 mt-2 text-nowrap">--></span>
                        <input type="number" name="to_logical_number" value="0" class="form-control flex-grow-1" />
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="several" value="yes" disabled>
        
        <script>
            (function() {
                const checkbox = $('input[type="checkbox"][name="_add_several"]');
                if (checkbox.length && !checkbox.data('handler-bound')) {
                    checkbox.data('handler-bound', true);
                    checkbox.on('change', function(e) {
                        const chkbox = $(this);
                        const form = chkbox.closest('form');
                        
                        if (chkbox.prop('checked')) {
                            form.find('.single-port-field').addClass('d-none');
                            form.find('.multiple-port-fields').removeClass('d-none');
                            form.find('.network-name-section').addClass('d-none');
                            form.find('.network-name-section input, .network-name-section select, .network-name-section textarea').prop('disabled', true);
                            form.find('input[name="several"]').prop('disabled', false);
                        } else {
                            form.find('.single-port-field').removeClass('d-none');
                            form.find('.multiple-port-fields').addClass('d-none');
                            form.find('.network-name-section').removeClass('d-none');
                            form.find('.network-name-section input, .network-name-section select, .network-name-section textarea').prop('disabled', false);
                            form.find('input[name="several"]').prop('disabled', true);
                        }
                    });
                }
            })();
        </script>
    {% endif %}
    {{ fields.textField('name', item.fields['name'], __('Name')) }}
    {{ fields.textField('ifalias', item.fields['ifalias'], __('Alias')) }}

    {% set is_readonly = item.fields['is_dynamic']|default(false) %}

    {{ fields.numberField('ifmtu', item.fields['ifmtu'], __('MTU'), {
        min: 0,
        max: 65535,
        readonly: is_readonly
    }) }}

    {% set internal_status_values = {
        '1': __('Up'),
        '2': __('Down'),
        '3': __('Test')
    } %}
    {{ fields.dropdownArrayField('ifinternalstatus', item.fields['ifinternalstatus'], internal_status_values, __('Internal status'), {
        readonly: is_readonly,
        emptylabel: __('Unknown')
    }) }}

    {{ fields.textareaField('comment', item.fields['comment'], __('Comments')) }}

    {% if instantiation != false %}
        {{ fields.smallTitle(get_class(instantiation)|itemtype_name) }}
        {{ call([instantiation, 'showInstantiationForm'], [item, params, recursive_items]) }}
    {% endif %}

    <div class="network-name-section">
        {{ call('NetworkName::showFormForNetworkPort', [item.getID()]) }}
    </div>
{% endblock %}
